

body.tx-wil_importcsv {
	margin: 20px;
}
body.tx-wil_importcsv table {
	width: 100%;
}
body.tx-wil_importcsv table.associate_table {
	font-size: 10px;
	text-align:left;
}

body.tx-wil_importcsv td {
	height: 22px;
	padding: 2px;
	vertical-align: middle;
}
body.tx-wil_importcsv .unequal {
	background: #dedede;
}
body.tx-wil_importcsv .navigation_row td {
	padding-top: 20px;
}
